/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-------------------------------------------------------------------*/

/*
color pallete
background ##60a9ff;
#white;
borders #e1f1ff
pricing #888;
pricing features #016ff9;
featured button #48aaff;
hovered featured button: #269aff;
pricing button: #9dd1ff;

*/

html {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: 'Open-sans', sans-serif;
    background-color: #60a9ff;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.panel {
    padding: 1em 2em;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    max-width: 980px;

    text-align: center;
    text-transform: uppercase;

    background-color: white;
    
    border: 1px solid white;
    border-radius: 1em;
}

.price-properties {
    border-bottom: 1px solid #e1f1ff;
}

.price-properties:last-child {
    border-bottom: none;
}

.price-properties .icons{
    max-width: 100%;
    margin: 3em 0;
}

.price-properties h2 {
    color: #888;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 2em;
}

.pricing-features li {
    font-size: 0.75em;
    letter-spacing: 0.08em;
    line-height: 1.5;

    font-weight: 600;
    padding-top: 1.5em;
    padding-bottom: 1.5em;

    color: #016ff9;

    border-top: 1px solid #e1f1ff;

}

.pricing-features li:last-child {
    border-bottom: 1px solid #e1f1ff;
    
}

.price {

    color: #016ff9;

    font-weight: 700;
    font-size: 2em;


    margin-top: 1em;
    display: block;
}

.pricing-button {

    margin-top: 1.5em;
    margin-bottom: 2em;
    display: inline-block;

    text-decoration: none;
    font-size: 1.1em;

    color: #348efe;

    border: 1px solid #9dd1ff;
    padding: 0.8em 1.3em;
    border-radius: 0.5em;
}

.pricing-button.is-featured {
    color: white;
    background-color: #48aaff;
    transition: background-color 0.2s;
}

.pricing-button.is-featured:hover {
    background-color: #269aff;
}

@media (min-width: 700px) {
    .panel {
        flex-direction: row;
    }

    .price-properties {
        padding-left: 3em;
        padding-right: 3em;

        border-right: 1px solid #e1f1ff;
        border-bottom: none;

    }

    .price-properties:last-child {
        border-right: none;
    }

}